#gmc_cookie_banner {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 99999;
}

#gmc_cookie_banner.center{
    top: 50%;
    left: 50%;
    max-width: 600px;
    transform: translate(-50%,-50%);
}

#gmc_cookie_banner.top{
    top: 0;
    left: 0;
}

#gmc_cookie_banner.bottom{
    bottom: 0;
    left: 0;
}

#gmc_cookie_banner .banner__inner{
    padding: 15px;
}

.gcm_close_banner{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#gmc_cookie_banner p {
    margin: 0;
}

#gmc_cookie_banner button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#gmc_cookie_banner .settings-panel {
    display: none;
    padding-top: 10px;
}

#gmc_cookie_banner .settings-panel h3 {
    margin-top: 0;
}

#gmc_cookie_banner .toggle-switch {
    display: block;
    margin-bottom: 10px;
}

#gmc_cookie_banner .toggle-switch input {
    display: none;
}

#gmc_cookie_banner .slider {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
}

#gmc_cookie_banner .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

#gmc_cookie_banner input:checked+.slider:before {
    transform: translateX(20px);
}

#gmc_cookie_banner input:checked+.slider {
    background-color: #007bff;
}